.reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
        background: #1E1E1E;
        height: 100vh;

    &_register{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: 50px;

            input{
                width: 100%;
                padding: 14px 13px;
                margin-top: 10px;
                border-radius: 4px;
                background: transparent;
                border: 1px solid rgba(57, 72, 82, 1);
                color: white;
            }
            button{
                width: 100%;
                padding: 14px 13px;
                margin-top: 10px;
                border-radius: 4px;
                background: rgba(5, 150, 105, 0.25);
                border: 1px solid rgba(57, 72, 82, 1);
                color: white;
            }
    }
}
input:focus{
    outline: none;
}